<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="CloudMusicGear.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <userSettings>
    <CloudMusicGear.Properties.Settings>
      <setting name="Port" serializeAs="String">
        <value>3412</value>
      </setting>
      <setting name="ForcePlaybackQuality" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PlaybackQuality" serializeAs="String">
        <value>HQ / 320000</value>
      </setting>
      <setting name="ForceDownloadQuality" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="DownloadQuality" serializeAs="String">
        <value>HQ / 320000</value>
      </setting>
      <setting name="UsePac" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="PacPort" serializeAs="String">
        <value>3413</value>
      </setting>
      <setting name="UseProxy" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ProxyAddress" serializeAs="String">
        <value />
      </setting>
      <setting name="AutoStart" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="AutoMinimize" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ForceIp" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="IpAddress" serializeAs="String">
        <value>111.161.66.70</value>
      </setting>
    </CloudMusicGear.Properties.Settings>
  </userSettings>
</configuration>